.navigation {
    display: flex;
    gap: 8px;
    margin: 12px 0;
}
.backArrow {
    cursor: pointer;
}
.backArrow svg {
    fill:white;
}
.backArrow:hover svg {
    fill:red
}
.title {
    color:var(--primary-color);
    font-size:20px;
    font-weight:700;
}
.listContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}