@font-face {
  font-family: "Helvetica";
  src: url("src/assets/fonts/helvetica_regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("src/assets/fonts/helvetica_bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}


:root {
  --Helvetica: "Helvetica", "Open Sans", sans-serif;
  --primary-bg: #000000;
  --secondary-bg: #20242C;
  --primary-color: #ffffff;
  --secondary-color: #000000CC;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}
input {
  caret-color: initial;
}
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
[data-theme='dark'] {
  --primary-bg: #000000;
  --primary-color: #ffffff;
}
body {
  max-width: 100%;
  font-family: var(--Helvetica);
  caret-color: transparent;
  background-color: var(--primary-bg);
  color:var(--primary-color)
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}

[class*="__container"] {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

}
main {
  flex: 1;
}